<!doctype>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon magasin en ligne 100% bons plans</title>
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="app">
          <header>
            <h1>À la bonne franquette</h1>
            <nav>
              <h1>Books</h1>
              <div v-for=" book in books">
                <span v-text = "book.book_id"></span>
                <span v-text = "book.name"></span>
                <!-- <span v-text = "book.url"></span> -->
                <span v-text = "book.stock"></span>
              </div>
              <br>
              <br>
              <br>
<h1>Basket</h1>
              <div v-for=" basketLine in basket">
                book_id: <span v-text = "basketLine.book_id"></span>
                | basket_id: <span v-text = "basketLine.basket_id"></span>
                | basket_line_id: <span v-text = "basketLine.basket_line_id"></span>
                | qte: <span v-text = "basketLine.qte"></span>
              </div>
              <!-- <router-link to='/'>Accueil</router-link> -->
              <!-- <router-link to='/panier'>Panier</router-link>
              
              <router-link to='/login'>Se Connecter</router-link> -->
            </nav>
          </header>
          <main>
            WELCOME TO MAIN
            <!-- <router-view
              :articles="articles"
              :panier="panier"
              :invaliddata="invaliddata"
              :user="user"
              @add-article="addArticle"
              @delete-article="deleteArticle"
              @update-article="updateArticle"
              @add-article-cart="addArticleCart"
              @update-from-panier="editArticleInCart"
              @remove-from-cart="removeFromPanier"
              @pay-cart="payer"
              @login="login"
            ></router-view> -->
          </main>
        </div>
        <script src="/vue-application.js"></script>
    </body>
</html>
